block variables

doctype html
html
	head
		meta(charset="utf-8")
		title #{title}
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		link(href="./img/favicon.ico" rel="icon")
		link(rel='stylesheet' href='./css/foundation.css')
		link(rel='stylesheet' href='./css/app.css') 
		
	include ../sprite_svg/sprite.svg
	body
		.wrapper
				block content 
				p. 
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam eaque repudiandae cupiditate esse rerum. Enim cumque, voluptatibus tempora similique dolorum saepe doloremque consequuntur aliquam debitis provident accusamus, neque dolor eaque, deleniti rerum reprehenderit? Vel iusto laborum debitis exercitationem, nesciunt, itaque hic accusamus dolorum fugiat sit laboriosam tempore dignissimos, deleniti minima? Commodi, laudantium eveniet! Repellendus qui possimus consectetur quae alias odio ipsa repellat quibusdam ullam earum incidunt, quos atque, excepturi itaque vitae labore blanditiis, in temporibus exercitationem dolor eius modi laborum dolorum! Eos voluptas, labore id architecto quod dolorum a dignissimos ratione libero, nesciunt tempore consequatur nihil, sint exercitationem necessitatibus facilis.


		script(src='./js/foundation.js')
		script(src='./js/app.js')
